@charset "UTF-8";
/* CSS Document */

html, body {
	background: #F0F0F0;	
	position:absolute;
	width:100%;
	margin:0;
}

#masthead {
	position:fixed;
	left:0;
	width:100%;	
	padding:-25px 0 0 0;
}

#main_nav ul {
	display:block;	
}

#main_nav ul li {
	display:inline;
	padding: 50px 10px 0 10px;
	
}

#main_nav {
	display:inline;
	position:absolute;	
	padding: 14px 10px 0 10px;
}

#bg_container {
	position:absolute;
	display:block;
	top:100px;
	width: 1400px;
	height:600px;
	background: url(images/bg-backdrop-shadows.png) no-repeat scroll 0 -8px;
}

#outer_container {
	position:absolute;
	display:block;
	height:600px;
	overflow:auto;
	width:100%;
	margin: 60px 0 0 0;
	background: url(images/bg-backdrop-shadows.png) no-repeat scroll 0 -8px;
}

#inner_container {
	background: #FFF;
	position:absolute;
	left:50px;
	top:31px;
	height:502px;
	clear: both;
}

#left_endcap {
	position:absolute;
}

#right_endcap {
	position:absolute;
	right:0px;	
	top: -31px;
}

.inner_example {
	padding: 15px 0 0 0;
    display: inline-block;
    display: inline /9;
    width: 800px;
    margin: 0;
    margin-left: 500px;
    height: 400px;
}

.example_6 {
	margin-top: 0;
}

.example_6 .copy {
	padding-top: 0;
}


.copy_bio {
	padding:0px 0 0 0px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	line-height:1.5em;
	width:500px;
	color:#999;
}  
.copy {
	padding:15px 0 0 15px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	line-height:1.5em;
	width:100%;
	color:#999;
}




.title {
	font-weight:normal;
	font-size:19px;
	color:#999;
	padding:0 0 5px 0;
	line-height:1.5em;
}

.bio-title {
	font-weight:normal;
	font-size:19px;
	color:#666;
	padding:0 0 10px 0;
}

.decorative_img{
	position:relative;
	padding:10px 0 10px 5px;
	margin-left:180px;

}

.wlink {
    cursor: pointer;
	float: left;
	clear: right;
	position: relative;
	width: 40px;
	height: 40px;
	display: block;
}

.wlkink:hover {
    
}

#example_1_link {
    background: transparent url('portfolio_images/buttons_for_site/example_1_btn.png') no-repeat 0 -40px;

	}

#example_1_link:hover {
	background: transparent url('portfolio_images/buttons_for_site/example_1_btn.png') no-repeat 0 0px;
	
	}
	

	
#example_2_link {
    background: transparent url('portfolio_images/buttons_for_site/example_2_btn.png') no-repeat 0 -40px;

	}

#example_2_link:hover {
	background: transparent url('portfolio_images/buttons_for_site/example_2_btn.png') no-repeat 0 0px;
}
	
#example_3_link {
    background: transparent url('portfolio_images/buttons_for_site/example_3_btn.png') no-repeat 0 -40px;

	}

#example_3_link:hover {
	background: transparent url('portfolio_images/buttons_for_site/example_3_btn.png') no-repeat 0 0px;
	}
	
#example_4_link {
    background: transparent url('portfolio_images/buttons_for_site/example_4_btn.png') no-repeat 0 -40px;

	}

#example_4_link:hover {
	background: transparent url('portfolio_images/buttons_for_site/example_4_btn.png') no-repeat 0 0px;
	}
	
#example_5_link {
	 background: transparent url('portfolio_images/buttons_for_site/example_5_btn.png') no-repeat 0 -40px;

	}

#example_5_link:hover {
	background: transparent url('portfolio_images/buttons_for_site/example_5_btn.png') no-repeat 0 0px;
	}
	
#example_6_link {
    background: transparent url('portfolio_images/buttons_for_site/example_6_btn.png') no-repeat 0 -40px;

	}

#example_6_link:hover {
	background: transparent url('portfolio_images/buttons_for_site/example_6_btn.png') no-repeat 0 0px;
	}
	
#example_7_link {
    background: transparent url('portfolio_images/buttons_for_site/example_7_btn.png') no-repeat 0 -40px;

	}

#example_7_link:hover {
	background: transparent url('portfolio_images/buttons_for_site/example_7_btn.png') no-repeat 0 0px;
	}
	
#example_8_link {
    background: transparent url('portfolio_images/buttons_for_site/example_8_btn.png') no-repeat 0 -40px;

	}

#example_8_link:hover {
	background: transparent url('portfolio_images/buttons_for_site/example_8_btn.png') no-repeat 0 0px;
	}
	
#example_9_link {
    background: transparent url('portfolio_images/buttons_for_site/example_9_btn.png') no-repeat 0 -40px;

	}

#example_9_link:hover {
	background: transparent url('portfolio_images/buttons_for_site/example_9_btn.png') no-repeat 0 0px;
	}
	
#example_10_link {
    background: transparent url('portfolio_images/buttons_for_site/example_10_btn.png') no-repeat 0 -40px;

	}

#example_10_link:hover {
	background: transparent url('portfolio_images/buttons_for_site/example_10_btn.png') no-repeat 0 0px;
	}
	
#example_11_link {
    background: transparent url('portfolio_images/buttons_for_site/example_11_btn.png') no-repeat 0 -40px;

	}

#example_11_link:hover {
	background: transparent url('portfolio_images/buttons_for_site/example_11_btn.png') no-repeat 0 0px;
	}
	
#example_12_link {
	padding: 5px 0 0 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	cursor: pointer;
	float: left;
	clear: right;
	position: relative;
	width: 150px;
	height: 40px;
	display: block;
	}



a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}